<b>您有新的【{{.Type}}】订单</b>

<b>【备注】</b> <b>{{.NotiferDesc.Mark}}</b>
<b>【金额】</b> <b>{{.Amount}}</b>
➖➖➖➖➖➖➖➖➖➖➖➖
<b>【钱包余额】</b> <b>{{.Balance}}</b> USDT
<b>【{{.NotiferDesc.Label}}】</b> <code>{{.NotiferDesc.Address}}</code>
<b>【监听帐户】</b> <code>{{.NotiferDesc.ListenAddress}}</code>
<b>【交易时间】</b> {{.CreateTime}}