<b>{{.}}</b>您好呀~

欢迎体验 <a href="https://t.me/TAKOMAINBOT">八爪鱼</a> <b>地址监控</b>机器人 <i>v5.0</i>

🚨<b>全新版本</b>

1️⃣ 支持高并发秒级监听TRC20金额变动事件
2️⃣ 支持自定义标签
3️⃣ 支持群组通知
4️⃣ 完善查询钱包收支统计交互
5️⃣ 完善管理员授权等多种操作指令
6️⃣ 新用户默认可试用3天

机器人由 <a href="https://t.me/TAKOMAINBOT">八爪鱼</a> 定制开发，如需额外定制功能请联系客服！
👉🏻请戳客服：<a href="https://t.me/tg_llama">客服</a>

<i>请文明交流，我开心你也开心😘</i>