<b>TRC20钱包概览</b>

<b>【地址】</b><code>{{.Address}}</code>
<b>【备注】</b><b>{{.Remark}}</b>
<b>【类型】</b><b>{{.TokenType}}</b>
<b>【余额】</b><b>{{.Balance}}</b> USDT
 ➖➖➖➖➖➖➖➖➖➖➖➖➖
<b>【交易次数】</b>{{.TotalCount}}
<b>【首次交易】</b>{{.CreateTime}}
<b>【最近交易】</b>{{.LatestTime}}