app:
  env: test                                             #关联日志输出方式（正式环境改为prod）
  app_name: telegram-monitor
  license: 74b0262b50f50088e3659534e486f9e1             #授权码
  support: tg_llama                                     #客服ID
  group: test2_zoom_group                               #群组

http:
  port: 80

telegram:
  token: 6122807381:AAEbE5Y7Y_Zt2uSq2JioU2K8Js-gTBQymOc #https://t.me/monitor_tentacles_bot
  tron_scan_key: c7f4c832-3be3-4581-963d-66fce35a05b4   #tronScan apiKey（正式环境建议更换）
  tron_grid_key: bef4d9b7-949d-4659-bd8d-34fe036abda4   #tronGrid apiKey（正式环境建议更换）

mq:                                                     #RabbitMQ配置信息
  username: root
  password: 123456
  host: 127.0.0.1
  port: 5672
  vhost: /

db:
  type: "mysql"
  dsn: "root:123456@tcp(127.0.0.1:3306)/monitor?charset=utf8mb4&parseTime=True&loc=Local"
  maxIdle: 100
  maxOpen: 200
  timeout: 30